<!DOCTYPE html>
<html ng-app="MyApp">

<head>
    <meta charset="utf8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Nodejs">
    <meta name="author" content="My">
    <title>Nodejs</title>
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
</head>

<body ng-controller="MyController">
<h1>Hello {{name}} and we have {{nUsers}} users connected</h1>
<button type="button" class="btn btn-lg btn-danger">Num : {{zmqmsg.num}}</button>
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="{{zmqmsg.num}}" aria-valuemin="0" aria-valuemax="100" style="width: {{zmqmsg.num}}%;"><span class="sr-only">{{zmqmsg.num}}% Complete</span></div>
</div>
<input ng-model="name"></input>
</body>
<script src="vendor/jquery/dist/jquery.min.js"></script> 
<script src="/socket.io/socket.io.js"></script>
<script src="vendor/angular/angular.js"></script>
<script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="main.js"></script>
</html>
